{{define "contact"}}{{template "header" .}}
<h2 class="col_12">Contact</h2>
<div class="contact push_1 col_10 nest">
  <p class="col_6">
    Feel free to contact me any way you like, but I prefer IRC when possible.<br>
    You can find me in the <a href="http://webchat.freenode.net?channels=rubyists">#rubyists channel on Freenode</a>.<br>
    If you would like to meet me, I'm currently in Germany, south of Munich.
  </p>

  <ul class="col_6 vcard">
    <li>My name is <span class="fn">Michael Fellinger<span></li>
    <li>You may know me as <span class="nickname">manveru</span></li>
    <li>I'm a founding member of <a href="http://rubyists.com" class="org">The Rubyists, LLC.</a></li>
    <li>Email: <span class="email">me@manveru.name</span></li>
    <li>Germany: <span class="tel">+49-803-360-39512</span></li>
    <li>Austria: <span class="tel">+43-699-132-64128</span></li>
    <li>USA: <span class="tel">+1-415-326-4128</span></li>
    <li><a class="url" href="http://manveru.name/">http://manveru.name/</a></li>
  </ul>
</div>

<p class="push_1 col_10">
  This page is also an <a href="https://en.wikipedia.org/wiki/HCard">hCard</a>,
  so you can add me to your contacts easily.
</p>
{{template "footer" .}}{{end}}
