{{define "index"}}{{template "header"}}
<h2 class="col_12">Welcome</h2>
<article class="intro push_1 col_10 nest">
  <p>This is part of my online presence, I'm trying to collect tutorials, rants, and general thoughts here.</p>
  <p>You can find out more about me by looking at my:</p>
  <div class="overview">
    <section class="col_4">
      <h4>Projects</h4>
      <ul>
        <li><a href="http://ramaze.net">Ramaze Web Framework</a></li>
        <li><a href="http://github.com/manveru/innate">Innate Web Framework</a></li>
        <li><a href="http://github.com/manveru/ver">VER Editor</a></li>
        <li><a href="http://github.com/manveru/makura">CouchDB Abstraction layer</a></li>
      </ul>
    </section>

    <section class="col_4">
      <h4>Further presence</h4>
      <ul>
        <li><a href="https://plus.google.com/117251902675428331743">Google+</a></li>
        <li><a href="http://github.com/manveru">manveru @ Github</a></li>
        <li><a href="http://github.com/rubyists">Rubyists @ Github</a></li>
        <li><a href="http://rubyists.com">Rubyists Blog</a></li>
      </ul>
    </section>

    <section class="col_4">
      <h4>Recent Articles</h4>
      <ul>
        {{range .Posts}}
          <li>
            <a href="/blog/show/{{date .Created}}/{{.Language}}/{{.Slug}}">{{.Title}}</a>
          </li>
        {{end}}
      </ul>
    </section>
  </div>
</article>
{{template "footer"}}
{{end}}
