{{define "header"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>manveru &middot; {{.Title}}</title>
    <link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Droid+Sans|Droid+Sans+Mono|Droid+Serif|Love+Ya+Like+A+Sister'>
    <link rel='stylesheet' type="text/css" href='/css/min.css'>
    <link rel='alternate' type='application/atom+xml' title='manveru.dev - Atom' href='https://manveru.dev/blog/feed.atom'>
    <link rel="stylesheet" type="text/css" href="/css/sons-of-obsidian.css" />
    <script type="text/javascript" src="/google-code-prettify/prettify.js"></script>
    <script>
window.onload = function(){
  var pres = document.getElementsByTagName("pre")
  for (var i = 0; i < pres.length; ++i) {
    var pre = pres.item(i)
    console.log(i, pre)
    pre.setAttribute("class", "prettyprint")
  }
  prettyPrint()
}
    </script>
  </head>
  <body>
    <header class="container">
      <div class="titles row">
        <h1 class="col_4 title"><a href="https://manveru.dev/">manveru</a></h1>
        <nav class="col_8 box nest">
          <ul>
            <li class="col_2"><a href="/">Blog</a></li>
            <li class="col_2"><a href="/archive">Archive</a></li>
            <li class="col_2"><a href="/contact">Contact</a></li>
            <li class="col_2"><a rel="me" href="https://github.com/manveru">Code</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="content" class="container">
      <div class="row">{{end}}
{{define "footer"}}</div>
    </section>

    <footer class="container">
      <div class="row">
        <div id="copyright" class="col_12">
          &copy; by <a xmlns:cc="https://creativecommons.org/ns#" href="https://manveru.dev" property="cc:attributionName" rel="cc:attributionURL">Michael Fellinger</a> as <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/de/">by-nc-sa.</a>
        </div>
        <div id="feeds" class="col_12">
          <a href="https://manveru.dev/blog/feed.atom"><img src="/img/atom.png" alt="RSS Icon"> Blog ATOM</a>
        </div>
      </div>
    </footer>
  </body>
</html>{{end}}
