/* Typography styles for the Toast framework. They're pretty nice, but feel free to have a play around. */

html {
	line-height: 1.5; /* 24px */
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

::selection {
	background: #333;
	color: #fff;
	color: rgba(255,255,255,.85);
	text-shadow: none;
}

::-moz-selection {
	background: #333;
	color: #fff;
	color: rgba(255,255,255,.85);
	text-shadow: none;
}

/* set some spacing on all the likely content elements */

p, ul, ol, blockquote, hr, form, table, canvas, video, object, embed, pre.prettyprint, code.prettyprint {
	margin-bottom: 1.5em;
}

ul ul, ul ol, ol ul, ol ol {
	padding-left: 1.5em;
	margin-bottom: 0;
}

hr { /* sexy sexy hr from twitter */
	margin-top: -2px;
	height: 0px;
	background: transparent;
	border: none;
	outline: none;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #fff;
	border-top-color: rgba(0,0,0,.2);
	border-bottom-color: rgba(255,255,255,.1);
}

/* some sizes & vertical rhythm for headings, courtesy of Joshua Hibbert http://joshuanhibbert.com/ */

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

h1 {
    font-size: 3em; /* 48 / 16 */
    line-height: 1em; /* 48 / 48 */
    margin-bottom: .5em; /* 24 / 48 */
}

h2 {
    font-size: 2.25em; /* 36 / 16 */
    line-height: 1.333333333333333em; /* 48 / 36 */
    margin-bottom: .6666666666666667em; /* 24 / 36 */
}

h3 {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1em; /* 24 / 24 */
    margin-bottom: 1em; /* 24 / 24 */
}

h4 {
    font-size: 1.3125em; /* 21 / 16 */
    line-height: 1.142857142857143em; /* 24 / 21 */
    margin-bottom: 1.142857142857143em; /* 24 / 21 */
}

h5 {
    font-size: 1.125em; /* 18 / 16 */
    line-height: 1.333333333333333em; /* 24 / 18 */
    margin-bottom: 1.333333333333333em; /* 24 / 18 */
}

h6 {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}

/* styling for special elements */

em, i { font-style: oblique; }
strong, b { font-weight: 700; }

mark {
	background: rgba(255,255,155,.6);
	font-style: oblique;
}

small {
	font-size: .8em;
	line-height: 1.875em;
}

code, pre { font-size: 1.1em; } /* corrects funky line-height problems with code */

a, a:visited {
	color: #369;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #39c;
}

abbr {
	cursor: help;
}