<!--
     title: 404 - Not found
     route: /404.html
     css: main.css
-->
<h2>Where did you go?</h2>

<p>
  This page may never exist or has never existed.<br>
</p>

<p>
  Some said that it's the fault of the site creator, but they've been
  brought to face their deserved justice.
</p>

<img width="100%" src="/img/pepperbird.svg">

<p>
  Now take a deep breath, and call the <a href="mailto:m.fellinger@gmail.com">404 busters</a>!<br>
</p>

<p>
  For your convenience, here's a form that helps you do that, if you care
  enough to let me help you.
</p>

<form action="mailto:m.fellinger@gmail.com" method="post">
  <fieldset>
    <legend>On noes, I'm a 404 victim:</legend>

    <label for="form-body">Message</label>
    <textarea id="form-body" name="body" cols="80" rows="20" placeholder="Please share your thoughts here and then send it my way."></textarea>
  <input type="submit" value="Send Feedback">
</form>
