<!--
     routeMaps: posts
-->
<article class="blogpost">
  <h2 class="col_10"><a href="{{.url}}">{{.meta.title}}</a></h2>
  <div class="push_1 col_3 created_at">
    {{.meta.date}}
  </div>
  <div class="push_1 col_10">
    {{.body}}
  </div>
</article>
