<!--
     routeMaps: posts
     css: main.css
-->
<article class="blogpost">
  <h2><a href="{{.url}}">{{.meta.title}}</a></h2>
  <div class="created_at">
    {{.meta.date}}
  </div>
  <div>
    {{.body}}
  </div>
</article>
