<!--
title: Archive
route: /archive/
css: archive.css
requires: posts
-->
<h2>Blog Archive</h2>
{{range .posts}}
  <ul class="blogposts">
    <li>
      <a href="{{ .url }}">{{.meta.title}}</a>
      ({{.meta.language | default "en"}}) {{.meta.date}}
    </li>
  </ul>
{{end}}
