''
<h2>Contact</h2>
<div class="contact">
  <p>
    Feel free to contact me any way you like, but I prefer IRC when possible.<br>
    You can find me on Freenode in <a href="http://webchat.freenode.net?channels=nixos">#nixos</a>.<br>
    If you would like to meet me, I'm currently in Germany, south of Munich.
  </p>

  <ul class="vcard">
    <li>My name is <span class="fn">Michael Fellinger<span></li>
    <li>You may know me as <span class="nickname">manveru</span></li>
    <li>I'm currently working as a Service Reliability Engineer (SRE) at <a href="https://iohk.io" class="org">Input Output HK Limited</a>.</li>
    <li>Email: <span class="email">me@manveru.dev</span></li>
    <li><a class="url" href="https://manveru.dev/">https://manveru.dev/</a></li>
  </ul>
</div>

<p>
  This page is also an <a href="https://en.wikipedia.org/wiki/HCard">hCard</a>,
  so you can add me to your contacts easily.
</p>
''
