''
<h2>Contact</h2>
<div class="contact">
  <p>
    Feel free to contact me any way you like, but I prefer Matrix when possible.<br>
    You can find me on Matrix where I'm @manveru:matrix.org.<br>
    If you would like to meet me, I'm currently in Kufstein, Austria.
  </p>

  <ul class="vcard">
    <li>My name is <span class="fn">Michael Fellinger<span></li>
    <li>You may know me as <span class="nickname">manveru</span></li>
    <li>I'm currently the CTO of <a href="https://grodaus.com" class="org">grodaus GmbH</a>.</li>
    <li>Email: <span class="email">me@manveru.dev</span></li>
    <li><a class="url" href="https://manveru.dev/">https://manveru.dev/</a></li>
  </ul>
</div>

<p>
  This page is also an <a href="https://en.wikipedia.org/wiki/HCard">hCard</a>,
  so you can add me to your contacts easily.
</p>
''
