''
<!--
title: Welcome
route: /
css: home.css
-->
<h2>Welcome</h2>

<article class="intro">
  <p>
    My name is Michael Fellinger, also known as manveru. I'm collecting
    tutorials, rants, and general thoughts here.
  </p>

  <p>
    You can find out more about me by looking at my:
  </p>

  <div class="overview">
    <section>
      <h4>Recent Posts</h4>
      <ul>
        ${ __concatStringsSep "" (map (post: ''
        <li>
          <a href="${ post.url }">${ post.meta.title }</a>
        </li>
        '') latestPosts)}
      </ul>
    </section>

    <section>
      <h4>Projects</h4>
      <ul>
        <li><a href="https://gitlab.com/manveru/mixnix">MixNix for Elixir &amp; Nix</a></li>
        <li><a href="http://github.com/manveru/bundix">Bundix for Ruby &amp; Nix</a></li>
        <li><a href="http://ramaze.net">Ramaze Web Framework</a></li>
        <li><a href="http://github.com/manveru/innate">Innate Web Framework</a></li>
        <li><a href="http://github.com/manveru/ver">VER Editor</a></li>
        <li><a href="http://github.com/manveru/makura">CouchDB Abstraction layer</a></li>
      </ul>
    </section>

    <section>
      <h4>Presence</h4>
      <ul>
        <li><a href="http://github.com/manveru">Github</a></li>
        <li><a href="http://www.linkedin.com/in/mfellinger">Linkedin</a></li>
        <li><a href="https://www.xing.com/profile/Michael_Fellinger2">XING</a></li>
        <li><a href="http://twitter.com/manveru">Twitter</a></li>
        <li><a href="https://keybase.io/manveru">Keybase</a></li>
      </ul>
    </section>
  </div>
</article>
''
